body {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: $base-size * 6.25;
  font-weight: $font-bold;
  text-transform: uppercase;
  color: $color-primary;
  letter-spacing: $base-size * 1.25;
  line-height: 100px;

  &::after {
    @include horizontal-center;
    bottom: -10%;
    content: '';
    width: 600px;
    height: 6px;
    background-color: $color-primary;
  }
}

#home {
  display: none;
}

#products {
  display: none;
}

#contact {
  display: none;
}

#home.active {
  display: block;
}

#products.active {
  display: block;
}

#contact.active {
  display: block;
}
